@font-face {
    font-family: "fuente";
    src: url("/assets/fonts/Quicksand-VariableFont_wght.ttf"); 
}

body{
    font-family: "fuente" !important;
    background-color: bisque !important;
}

.container{
    margin-top: 5%;
    background: rgb(93, 93, 215) !important;
    background: radial-gradient(circle, rgb(4, 26, 226) 0%, rgb(179, 5, 179) 100%) !important;
    border-radius: 5px !important;
    width: 50% !important;
    height: 30% !important;
    
}
button{
    border-radius: 5px !important;
    margin: 10px !important;
    gap: 3px !important;
}
p{
    font-size:xx-large !important;
}